.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  z-index: 1000; 
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.loading-screen.fade-out {
  opacity: 0;
}
.loading-logo {
  width: 150px;

}


@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}