.banner {
  width: 100vw;
  height: 100vh; 
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  position: relative;
  margin-top: 165px;
}

.banner > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;

}
