.banner {
  position: relative;
  margin-top: 167px;
  width: 100%;
  height: calc(100vh - 167px);
  overflow: hidden;
}

.banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 80%;
  display: block;
  border-top: 1px solid rgba(255, 56, 92, 0.4);
  border-bottom: 1px solid rgba(255, 56, 92, 0.4);
}


.banner-content {
  position: absolute;
  bottom: 10px;      
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

.banner-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  /* white-space:  nowrap; */
}

.banner-content button {
  padding: 12px 26px;
  border-radius: 30px;
  background: #000;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid rgba(255,56,92,0.6);
}

.banner-content button:hover {
  background-color: #ff385c;
  color: #fff;
}
