.card {
  width: 100%;
  max-width: 350px;
  /* margin: 10px; */
  border-radius: 10px;
  border: 1px solid rgba(255, 56, 92, 0.6);
  /* box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75); */
  transition: transform 200ms ease-in-out;
  cursor: pointer;
  overflow: hidden;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 25px rgba(255, 56, 92, 0.3);
}

.card > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-info {
  padding: 16px;
  border-top: 1px solid rgba(255, 56, 92, 0.6);
  text-align: center;
  justify-content: center;
  /* border-top: 1px solid #eee; */
  /* background-color: #fff; */
  /* background-color: #ff385c; */
  /* background-color: #000; */
}

.card-info:hover {
  background-color: #ff385c;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.9);
}

.card-info > h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: #fff;
}

.card-info > h4 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  color: #fff;
  /* color: #555; */
}

.card-discover {
  width: 100%;
  max-width: 350px;
  /* margin: 10px; */
  border-radius: 10px;
  border: 1px solid rgba(255, 56, 92, 0.6);
  /* box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75); */
  transition: transform 200ms ease-in-out;
  cursor: pointer;
  overflow: hidden;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
}

.card-discover img {
  height: 350px;
  object-fit: cover;
}

.card-discover .card-info {
  display: none;
}

.discover-card {
  position: relative;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  border: 1px solid rgba(255, 56, 92, 0.6);
  overflow: hidden;
}

.discover-card img {
  width: 100%;
  height: 350px;  
  object-fit: cover;
  border-radius: inherit;
}

.discover-card .card-info {
  display: none;
}

.discover-overlay {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  z-index: 10;
}

.discover-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2em;
  margin: 0 0 15px 0;
}

.discover-btn {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid rgba(255, 56, 92, 0.6);
}

.discover-btn:hover {
  background-color: #ff385c;
  color: #fff;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 25px rgba(255, 56, 92, 0.3);
}

.discover-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.4),
    rgba(0,0,0,0)
  );
  z-index: 1;
}
