body {
  margin: 0;
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden ;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  
}

/* Custom global scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff385c, #fc395b);
  border-radius: 8px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.6);
  transition: background 0.25s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ff5f78, #ff8095);
}

/* Firefox support */
* {
  scrollbar-color: #ff385c rgba(0, 0, 0, 0.7);
  scrollbar-width: thin;
}
